:root {
    --background-color: #f6f7ff;
    --primary-text-color: #525f7f;
    --secondary-text-color: white;
    --timeline-color: rgb(55, 141, 221);
    --timeline-faded-color: #ebebeb;
    --card-height: 40vw;
    --card-margin: 4vw;
    --card-top-offset: 8em;
    --numcards: 4;
    --outline-width: 0px;
}


/* Reset Values */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/***************** COLOR SCHEMES *****************/

.primary-color-scheme {
    background-color: var(--background-color) !important;
    color: var(--primary-text-color) !important;
}

.secondary-color-scheme {
    color: var(--secondary-text-color);
}


/***************** OVERALL SETTINGS *****************/

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: var(--secondary-text-color);
    scroll-behavior: smooth;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    outline: red;
    background: var(--background-color);
    color: var(--primary-text-color);
}


/******* SECTION DIVIDERS ******/

.divider {
    max-width: 65%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    font-size: 40px;
    display: flex;
}

.left-divider {
    font-weight: bolder;
    font-size: 40px;
    margin-top: 5%;
    max-width: 30%;
    width: auto;
    text-align: left;
    box-shadow: 0px 3px 1px -1px var(--primary-text-color);
    animation: fadeInLeft 1s ease-in-out;
}

.divider:before,
.divider:after {
    content: "";
    flex: 1;
    height: 3px;
    margin: 0 1em;
    background: var(--primary-text-color);
}

.simple-divider {
    width: 30%;
    margin: 5% auto;
    box-shadow: 0px 4px 3px -3px var(--primary-text-color);
}


/******* PICTURE CUSTOMIZATION ******/

.home-backgroundpic {
    background-image: url("/images/background2_fix.jpg");
    /* background-image: url("/images/motto.png"); */
    min-height: 100%;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/******* OPACITY ******/

.transparent100 {
    opacity: 1 !important;
}

.transparent75 {
    background-color: rgba(246, 247, 255, 0.85) !important;
}

.transparent50 {
    opacity: .5 !important;
}


/******* TOP MENU BAR ******/

#navbar {
    background-color: rgba(246, 247, 255, 0.3);
    margin: 0;
    padding: -10px -500px;
}

.w3-top img {
    position: relative;
    max-width: 150px;
    max-height: 40px;
    width: auto;
    height: auto;
}

.w3-top a {
    font-size: 20px;
    border-radius: 15px;
}

.w3-top .menu-items {
    margin: 3px 1% 0 0;
    border: none;
    display: inline-block;
    width: 75%;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: right;
    float: right;
}

.w3-top .menu-items a {
    margin: 5px 5px 0 0;
    padding: 3px 10px;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

.w3-top .menu-items a:hover {
    background: var(--primary-text-color);
    color: var(--background-color);
    transform: translate(-3px, -3px);
}

.color-bar {
    color: var(--primary-text-color);
}


/******* MINI MENU BAR ******/


/* MINI MENU ICON */

.mini-menu {
    margin: 3px 7px 0 0;
    background-color: none;
    display: none !important;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#navmenu {
    width: 100%;
    text-align: right;
    display: none;
    transition: 0.5s;
    border: none;
}

#navmenu a {
    border-radius: 0;
    background: rgba(246, 247, 255, 0.85) !important;
    padding: 10px 0 10px 0 !important;
}

.navmenu-show {
    display: flex !important;
    flex-direction: column;
    text-align: right;
}


/***************** FOOTER *****************/

footer {
    text-align: center;
    background: rgb(78, 78, 78);
    box-shadow: 0 1.5px 7px 1px gray;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 45px;
    color: var(--secondary-text-color);
    margin: 10% 0 0 0;
}

.footer-content {
    width: 80%;
    height: 5%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.footer-content .copyright {
    margin-top: 9px;
}

.footer-content .social-icons {
    margin-top: 7px;
    display: flex;
}

.footer-content .social-icons a {
    height: 30px;
    width: 30px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.4s ease;
    position: relative;
}


/* GITHUB */

.footer-content .social-icons a:nth-child(1) {
    font-size: 19.5px;
    color: #FFF;
    background: #000;
}

.footer-content .social-icons a:nth-child(1):hover {
    color: #000;
    background: #FFF;
}


/* FACEBOOK */

.footer-content .social-icons a:nth-child(2) {
    background: #4267B2;
}

.footer-content .social-icons a:nth-child(2):hover {
    color: #4267B2;
    background: #fff;
}


/* LINKEDIN */

.footer-content .social-icons a:nth-child(3) {
    font-size: 18px;
    background: #0e76a8;
}

.footer-content .social-icons a:nth-child(3):hover {
    color: #0e76a8;
    background: #fff;
}


/* GMAIL */

.footer-content .social-icons a:nth-child(4) {
    font-size: 18px;
    background: #D44638;
}

.footer-content .social-icons a:nth-child(4):hover {
    color: #D44638;
    background: #fff;
}


/***************** RESPONSIVE *****************/

@media (max-width: 380px) {
    .footer-content {
        justify-content: center;
    }
    .footer-content .copyright {
        display: none;
    }
}

@media (max-width: 650px) {
    .divider {
        font-size: 28px;
    }
}

@media (max-width: 950px) {
    .mini-menu {
        display: inline-block !important;
    }
    .menu-items {
        display: none !important;
    }
}


/***************** ANIMATIONS *****************/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.fadeInRight {
    animation: fadeInRight 1s ease-in-out;
}

.fadeInUp {
    animation: fadeInUp 1s ease-in-out;
}

.fadeInLeft {
    animation: fadeInLeft 1s ease-in-out;
}

.fadeIn {
    animation: fadeIn 1.5s ease-in-out;
}

.delay-half {
    animation-delay: 0.5s;
}

.delay-one {
    animation-delay: 1s;
}

.delay-onehalf {
    animation-delay: 1.5s;
}

.delay-two {
    animation-delay: 2s;
}


/***************** KEYFRAMES *****************/

@-webkit-keyframes fillLeft {
    100% {
        right: 100%;
    }
}

@-webkit-keyframes fillTop {
    100% {
        top: 100%;
    }
}

@-webkit-keyframes fillLeftOdd {
    100% {
        left: 100%;
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes menuEnterRight {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}